<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue JS</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="app" class="container text-center mt-5">
        <form style="width: 350px; margin: auto">
            <h1 class="alert alert-info">Converter</h1>
            <input class="form-control mb-3" type="text" v-model="km" placeholder="KM">
            <input class="form-control " type="text" v-model="m" placeholder="M">
            <hr class="alert alert-primary">
            <input class="form-control " type="text" v-model="fullName" placeholder="FullName">
            <h1>{{ firstname }}</h1>
        </form>
    </div>




    <!-- development version, includes helpful console warnings -->
    <script src="../js/jquery-3.2.1.slim.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/vue.js"></script>
    <script>
        new Vue({
           el: '#app',
           data:{
               message : "This is Osama",
               km:0,
               m:0,
               firstname:'Osama',
               lastname:'Zaki',
           },
            methods:{

            },
            computed:{
                fullName:{
                    //getter
                    get: function () {
                        return this.firstname + " " + this.lastname;
                    },
                    //setter
                    set: function (value) {
                        let name = value.split(' ');
                        this.firstname = name[0];
                        this.lastname = name[name.length -1];
                    }

                }
            },
            watch:{
               km: function (val) {
                   this.km = val;
                   this.m = val * 1000;
               },
                m: function (val) {
                   this.m = val;
                   this.km = val / 1000;
               }
            }

        });
    </script>
</body>
</html>